@mixin mon500 {
  font-family: "Montserrat";
  font-weight: 500;
}

@mixin mon400 {
  font-family: "Montserrat";
  font-weight: 400;
}

@mixin mon600 {
  font-family: "Montserrat";
  font-weight: 600;
}

@mixin btn-blue {
  width: 325px;
  height: 60px;

  background: #5082f4;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05px;
  color: #ffffff;
  cursor: pointer;
}
