@mixin mon500 {
  font-family: "Montserrat";
  font-weight: 500;
}

@mixin mon400 {
  font-family: "Montserrat";
  font-weight: 400;
}

@mixin mon600 {
  font-family: "Montserrat";
  font-weight: 600;
}
